Repository woowacourse-teams/2022-momo, pull requests merged in 2022-08, with the labels that each got.

#147 [FE] 모임 참여 시 header가 제대로 보내지지 않는 오류 해결
  frontend/src/apis/request/group.ts
Labels: 🐞 bug, 🍋 front-end

#154 [BE] RestDocs 빌드 시 파일생성 문제 해결
  backend/build.gradle
Labels: 🕋 back-end, 📦 config

#151 [BE] 프로퍼티 파일 중복 제거 및 파일 분리
  backend/src/main/resources/application-datasource-common.yml
  backend/src/main/resources/application-datasource.yml
  backend/src/main/resources/application-logging.yml
  backend/src/main/resources/application-security.yml
  backend/src/main/resources/application.yml
  backend/src/test/resources/application-datasource.yml
  backend/src/test/resources/application.yml
Labels: 🕋 back-end, 🛠 refactor, 📦 config

#156 [FE] 모임 생성, 상세 페이지에 달력 추가
  frontend/src/components/@shared/Calendar/index.styled.ts
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/Create/Step5/index.styled.ts
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/components/Detail/SideBar/Calendar/index.styled.ts
  frontend/src/components/Detail/SideBar/Calendar/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/hooks/useDate.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#145 [BE] 모임 모집 마감 로직 및 검증 로직 추가
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/duration/Duration.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/exception/InvalidDurationException.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupSummaryResponse.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/momo/acceptance/RestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/DateFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/DateTimeFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/DurationFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/ScheduleFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/duration/DurationTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/schedule/ScheduleTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
  backend/src/test/resources/init.sql
Labels: 🕹 feature, 🕋 back-end

#161 [FE] 회원가입, 로그인 시 유효성 검사 및 에러 메시지 세분화
  frontend/src/components/Login/index.tsx
  frontend/src/components/Signup/index.styled.ts
  frontend/src/components/Signup/index.tsx
  frontend/src/components/Signup/validate.ts
  frontend/src/constants/message.ts
  frontend/src/utils/errorController.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#163 [BE] 서브모듈 도입을 위한 Github Action 수정
  .github/workflows/backend.yml
Labels: 🕋 back-end, 📦 config

#166 [FE] 바뀐 모임 목록 API에 맞게 변경
  frontend/src/apis/request/group.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Detail/Content/index.tsx
  frontend/src/components/Detail/SideBar/Calendar/index.tsx
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/Participants/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/types/data.ts
  frontend/src/utils/category.ts
  frontend/src/utils/date.ts
Labels: 🕹 feature, 🍋 front-end

#169 [BE] 모임 목록 조회 pageNumber 필드 추가
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupPageResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
Labels: 🕋 back-end, 🛠 refactor

#170 [FE] 무한 스크롤 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/types/data.ts
Labels: 🕹 feature, 🍋 front-end

#172 [FE] 전체적인 UI 개선
  frontend/package-lock.json
  frontend/src/apis/request/auth.ts
  frontend/src/apis/request/category.ts
  frontend/src/apis/request/group.ts
  frontend/src/components/Category/index.tsx
  frontend/src/components/Create/Step1/index.tsx
  frontend/src/components/Create/Step2/index.tsx
  frontend/src/components/Create/Step5/index.styled.ts
  frontend/src/components/Create/Step6/index.tsx
  frontend/src/components/Create/Step7/index.tsx
  frontend/src/components/Create/Step8/index.tsx
  frontend/src/components/Detail/SideBar/Calendar/index.styled.ts
  frontend/src/components/Detail/SideBar/index.styled.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Signup/index.styled.ts
  frontend/src/components/Signup/index.tsx
  frontend/src/constants/message.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/hooks/useRecoilQuery.ts
  frontend/src/pages/Detail/index.tsx
Labels: 🍋 front-end, 🛠 refactor, 🍑 UI

#174 [FE] 에러 바운더리 fallback 컴포넌트 수정
  frontend/src/assets/error.json
  frontend/src/components/ErrorBoundary/CategoryFallback.tsx
  frontend/src/components/ErrorBoundary/index.styled.ts
  frontend/src/components/ErrorBoundary/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🕹 feature, 🍋 front-end

#176 [BE] 사용자가 참여한 그룹 목록 조회 api 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/GroupRepository.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupRestHandler.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
Labels: 🕹 feature, 🕋 back-end

#178 [FE] 달력에 선택된 날짜를 보여줄 수 있는 기능 추가
  frontend/src/components/@shared/Calendar/SelectedDate/index.styled.ts
  frontend/src/components/@shared/Calendar/SelectedDate/index.tsx
  frontend/src/components/@shared/Calendar/index.styled.ts
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Create/index.tsx
  frontend/src/utils/date.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#181 [FE] 모임 모집 마감 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
Labels: 🕹 feature, 🍋 front-end

#183 [FE] utils 함수 테스트 코드 작성
  frontend/package.json
  frontend/src/utils/date.ts
  frontend/src/utils/utils.test.ts
Labels: 🍋 front-end, ⛑ test

#185 [FE] 해당 모임에 대한 사용자의 역할 판단 로직 추가
  frontend/src/apis/request/user.ts
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/Participants/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/MyInfo/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/user.ts
Labels: 🕹 feature, 🍋 front-end

#188 [BE] 배포서버 데이터베이스 변경 (to Mysql)
  backend/build.gradle
  backend/src/main/resources/application-datasource-common.yml
  backend/src/main/resources/application-datasource.yml
  backend/src/main/resources/application-logging.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/resources/security/application-datasource.yml
Labels: 🕋 back-end, ⚙️ infra, 📦 config

#190 [FE] 로그인 시 회원정보를 제대로 가져오지 못하는 오류 해결
  frontend/package-lock.json
  frontend/src/components/Login/index.tsx
Labels: 🐞 bug, 🍋 front-end

#191 [FE] 모임 상태가 변경되면 모임 상세 페이지 리렌더링
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
Labels: 🕹 feature, 🍋 front-end

#194 [FE] API 주소 업데이트
  frontend/src/apis/axios.ts
Labels: 🍋 front-end, 📦 config

#200 [FE] 모임 생성 시 상세 일정 입력 기능 추가
  frontend/src/apis/request/group.ts
  frontend/src/components/@shared/Calendar/index.styled.ts
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/Create/Step5/Calendar/index.tsx
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/pages/Create/index.tsx
  frontend/src/styles/global.tsx
Labels: 🕹 feature, 🍋 front-end

#192 [FE] 마감된 모임에 대해 상태 반영
  frontend/src/components/Card/index.tsx
  frontend/src/components/Detail/Content/index.tsx
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/types/data.ts
Labels: 🕹 feature, 🍋 front-end

#202 [FE] 달력 일정 호버 시 모달에 겹치면 모달이 계속 여닫히는 오류 해결
  frontend/src/components/@shared/Calendar/SelectedDate/index.tsx
Labels: 🐞 bug, 🍋 front-end, 🍑 UI

#206 [BE] RestDocs 목차 추가
  backend/src/docs/asciidoc/index.adoc
Labels: 🕹 feature, 🕋 back-end

#208 [FE] 무한 스크롤 시 마지막 페이지의 데이터가 나오지 않는 오류 해결
  frontend/src/components/RecommendGroups/index.tsx
Labels: 🐞 bug, 🍋 front-end

#215 [FE] 달력 날짜 하이라이팅 우선순위 변경
  frontend/src/components/@shared/Calendar/index.styled.ts
Labels: 🐞 bug, 🍋 front-end, 🍑 UI

#217 [FE] 오늘 시작인 모임 생성시 마감기한을 설정할 수 없는 오류 해결
  frontend/src/utils/date.ts
Labels: 🐞 bug, 🍋 front-end

#225 [BE] Oauth 기능에 대한 Jenkins 빌드 테스트 오류 해결
  backend/src/test/java/com/woowacourse/momo/auth/controller/MockOauthController.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/OauthControllerTest.java
  backend/src/test/resources/security/application-oauth2.yml
Labels: 🐞 bug, 🕋 back-end

#222 [BE] 모임 수정, 모임 삭제 기능을 참여자가 없을 경우에만 가능하도록 변경
  backend/src/main/java/com/woowacourse/momo/globalException/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/logging/ExceptionLogging.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupDeleteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#229 [FE] 메인 페이지 UI 개선
  frontend/src/assets/loading.json
  frontend/src/assets/no_result.json
  frontend/src/components/Animation/Loading.tsx
  frontend/src/components/Animation/NoResult.tsx
  frontend/src/components/Animation/index.ts
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Category/index.styled.ts
  frontend/src/components/Category/index.tsx
  frontend/src/components/RecommendGroups/index.styled.ts
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/layouts/Page/index.styled.ts
  frontend/src/mocks/handlers/group.ts
  frontend/src/pages/Main/index.styled.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#231 [FE] TOP 버튼 구현
  frontend/src/components/@shared/TopButton/index.styled.ts
  frontend/src/components/@shared/TopButton/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#233 [FE] 모임 생성에서 모임 시작 기간이 끝 기간을 넘어가면 끝 기간을 맞춰서 연장하도록 수정
  frontend/src/components/Create/Step4/index.tsx
Labels: 🐞 bug, 🕹 feature

#237 [FE] 환경변수 설정
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/axios.ts
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.development.js
  frontend/webpack/webpack.production.js
Labels: 🍋 front-end, 📦 config

#240 [BE] 모임 탈퇴 기능 구현
  backend/src/main/java/com/woowacourse/momo/globalException/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/participant/controller/ParticipantController.java
  backend/src/main/java/com/woowacourse/momo/participant/domain/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/test/java/com/woowacourse/momo/acceptance/participant/ParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/participant/ParticipantRestHandler.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/domain/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
Labels: 🕹 feature, 🕋 back-end

#244 [FE] 모임 생성 페이지에서 각 스텝에 대해 모달로 띄워주는 호버 이벤트 추가
  frontend/src/components/Create/Navigator/Button/index.styled.ts
  frontend/src/components/Create/Navigator/Button/index.tsx
  frontend/src/components/Create/Navigator/index.tsx
Labels: 🍋 front-end, 🍑 UI

#248 [BE] 로그인기능 실패 오류 수정
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/momo/auth/service/AuthService.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/resources/init.sql
  backend/src/test/resources/truncate.sql
Labels: 🐞 bug, 🕋 back-end

#252 [FE] production mode에서 env 파일이 로드되지 않던 오류 수정
  frontend/webpack/webpack.production.js
Labels: 🐞 bug, 🍋 front-end, 📦 config

#254 [BE] OAuth 로그인기능 실패 오류 수정
  backend/src/main/java/com/woowacourse/momo/auth/service/OauthService.java
Labels: 🐞 bug, 🕋 back-end

#253 [FE] 헤더에 로그인 정보 Dropdown 추가
  frontend/src/assets/lottie/error.json
  frontend/src/assets/lottie/loading.json
  frontend/src/assets/lottie/no_result.json
  frontend/src/assets/lottie/not_found.json
  frontend/src/assets/lottie/spinner.json
  frontend/src/assets/svg/clock.svg
  frontend/src/assets/svg/complete.svg
  frontend/src/assets/svg/crown.svg
  frontend/src/assets/svg/location.svg
  frontend/src/assets/svg/logo.svg
  frontend/src/assets/svg/pencil.svg
  frontend/src/assets/svg/person.svg
  frontend/src/assets/svg/top_arrow.svg
  frontend/src/components/@shared/TopButton/index.styled.ts
  frontend/src/components/@shared/TopButton/index.tsx
  frontend/src/components/Animation/Loading.tsx
  frontend/src/components/Animation/NoResult.tsx
  frontend/src/components/Animation/NotFoundPageAnimation.tsx
  frontend/src/components/Animation/SpinnerAnimation.tsx
  frontend/src/components/Create/Navigator/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/Participants/index.tsx
  frontend/src/components/ErrorBoundary/index.tsx
  frontend/src/components/Header/User/index.styled.ts
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.styled.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/hooks/useClosingState.ts
  frontend/src/layouts/Page/index.styled.ts
  frontend/src/layouts/Page/index.tsx
  frontend/src/pages/MyInfo/index.tsx
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#255 [FE] Google OAuth 로그인 구현
  frontend/src/App.tsx
  frontend/src/apis/request/auth.ts
  frontend/src/assets/svg/google_login.svg
  frontend/src/components/Login/index.styled.ts
  frontend/src/components/Login/index.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/Auth/index.styled.ts
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/index.ts
Labels: 🕹 feature, 🍋 front-end

#246 [BE] 이미지 업로드 기능 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/momo/globalException/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/momo/storage/controller/ImageController.java
  backend/src/main/java/com/woowacourse/momo/storage/service/StorageService.java
  backend/src/test/java/com/woowacourse/momo/storage/controller/ImageControllerTest.java
Labels: 🕹 feature, 🕋 back-end

#261 [BE] SonarQube 서버 구축 및 Github Actions PR 연동
  .github/workflows/backend.yml
  backend/build.gradle
Labels: 🕋 back-end, ⚙️ infra

#264 [FE] 스낵바 구현
  frontend/public/index.html
  frontend/src/components/@shared/Snackbar/index.styled.ts
  frontend/src/components/@shared/Snackbar/index.tsx
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Portal/index.tsx
  frontend/src/components/Signup/index.tsx
  frontend/src/hooks/useClosingState.ts
  frontend/src/hooks/useSnackbar.ts
  frontend/src/layouts/Page/index.tsx
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/MyInfo/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/condition.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#267 [FE] 로그아웃 요청 추가
  frontend/src/apis/request/auth.ts
  frontend/src/components/Header/User/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
Labels: 🕹 feature, 🍋 front-end

#263 [BE] Code Smell 제거
  backend/src/main/java/com/woowacourse/momo/MomoApplication.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/momo/auth/config/RefreshTokenAuthInterceptor.java
  backend/src/main/java/com/woowacourse/momo/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/momo/auth/service/OauthService.java
  backend/src/main/java/com/woowacourse/momo/auth/support/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/momo/auth/support/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/momo/auth/support/google/GoogleConnector.java
  backend/src/main/java/com/woowacourse/momo/global/config/AspectConfiguration.java
  backend/src/main/java/com/woowacourse/momo/global/config/CustomNamingStrategy.java
  backend/src/main/java/com/woowacourse/momo/global/config/GlobalWebConfiguration.java
  backend/src/main/java/com/woowacourse/momo/global/exception/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/momo/global/exception/dto/response/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/momo/global/exception/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/momo/global/exception/exception/MomoException.java
  backend/src/main/java/com/woowacourse/momo/global/logging/ConsolePrettier.java
  backend/src/main/java/com/woowacourse/momo/global/logging/ExceptionLogging.java
  backend/src/main/java/com/woowacourse/momo/global/logging/LogFileManager.java
  backend/src/main/java/com/woowacourse/momo/global/logging/Logging.java
  backend/src/main/java/com/woowacourse/momo/global/logging/exception/LogException.java
  backend/src/main/java/com/woowacourse/momo/group/domain/duration/Duration.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/schedule/Schedule.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberFindService.java
  backend/src/main/java/com/woowacourse/momo/storage/controller/ImageController.java
  backend/src/main/java/com/woowacourse/momo/storage/service/StorageService.java
  backend/src/main/resources/application-datasource.yml
  backend/src/test/java/com/woowacourse/momo/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/OauthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/momo/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/duration/DurationTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/schedule/ScheduleTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/domain/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
  backend/src/test/java/com/woowacourse/momo/storage/controller/ImageControllerTest.java
Labels: 🕋 back-end, 🛠 refactor

#272 [BE] 모임 수정 API Docs 활성화
  backend/src/docs/asciidoc/index.adoc
Labels: 🕋 back-end, 🐶 docs

#269 [BE] 회원 탈퇴 기능 구현
  backend/src/main/java/com/woowacourse/momo/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/momo/global/exception/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberFindService.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/test/java/com/woowacourse/momo/acceptance/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
  backend/src/test/resources/init.sql
Labels: 🕹 feature, 🕋 back-end

#276 [FE] 서브 페이지에서 구글 로그인 불가능한 버그 수정
  frontend/src/apis/request/auth.ts
Labels: 🐞 bug, 🍋 front-end

#280 [BE] 테이블 컬럼 타입과 엔티티 필드 타입의 불일치 발생
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/test/resources/init.sql
Labels: 🐞 bug, 🕋 back-end

#278 [FE] 내 정보 페이지 UI 개선
  frontend/src/App.tsx
  frontend/src/Routes.tsx
  frontend/src/apis/request/user.ts
  frontend/src/assets/svg/logo.svg
  frontend/src/assets/userInfo_cover.jpg
  frontend/src/components/@shared/Animation/Loading.tsx
  frontend/src/components/@shared/Animation/NoResult.tsx
  frontend/src/components/@shared/Animation/NotFoundPageAnimation.tsx
  frontend/src/components/@shared/Animation/SpinnerAnimation.tsx
  frontend/src/components/@shared/Animation/index.ts
  frontend/src/components/@shared/Card/index.styled.ts
  frontend/src/components/@shared/Card/index.tsx
  frontend/src/components/@shared/ErrorBoundary/CategoryFallback.tsx
  frontend/src/components/@shared/ErrorBoundary/index.styled.ts
  frontend/src/components/@shared/ErrorBoundary/index.tsx
  frontend/src/components/@shared/Modal/index.styled.ts
  frontend/src/components/@shared/Modal/index.tsx
  frontend/src/components/@shared/NoResult/index.styled.ts
  frontend/src/components/@shared/NoResult/index.tsx
  frontend/src/components/@shared/Portal/index.tsx
  frontend/src/components/@shared/Snackbar/index.tsx
  frontend/src/components/ConfirmPassword/index.styled.ts
  frontend/src/components/ConfirmPassword/index.tsx
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/JoinedGroups/index.tsx
  frontend/src/components/Loading/index.styled.ts
  frontend/src/components/Loading/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/MyInformation/Info/Basic/index.tsx
  frontend/src/components/MyInformation/Info/OAuth/index.tsx
  frontend/src/components/MyInformation/Info/index.styled.ts
  frontend/src/components/MyInformation/Info/index.tsx
  frontend/src/components/MyInformation/Withdrawal/index.styled.ts
  frontend/src/components/MyInformation/Withdrawal/index.tsx
  frontend/src/components/MyInformation/index.ts
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/components/Signup/index.tsx
  frontend/src/components/svg/Logo.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useModal.ts
  frontend/src/layouts/Page/index.styled.ts
  frontend/src/pages/Auth/index.styled.ts
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/Create/index.styled.ts
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyGroup/index.tsx
  frontend/src/pages/MyInfo/index.styled.ts
  frontend/src/pages/MyInfo/index.tsx
  frontend/src/pages/MyInformation/index.styled.ts
  frontend/src/pages/MyInformation/index.tsx
  frontend/src/pages/NotFound/index.styled.ts
  frontend/src/pages/NotFound/index.tsx
  frontend/src/pages/index.ts
  frontend/src/types/condition.ts
  frontend/src/types/user.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#282 [FE] 모임 마감날짜 유효성 검증 오류 수정
  frontend/src/pages/Create/validate.ts
  frontend/src/utils/date.ts
  frontend/src/utils/utils.test.ts
Labels: 🐞 bug, 🍋 front-end

#284 [FE] 새로고침 시 자동 로그아웃되는 오류 해결
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/MyInformation/Info/Basic/index.tsx
  frontend/src/components/MyInformation/Info/OAuth/index.tsx
  frontend/src/components/MyInformation/Withdrawal/index.tsx
Labels: 🐞 bug, 🍋 front-end

#289 [FE] 변경된 회원정보 수정 API에 맞게 요청 형식 변경
  frontend/src/apis/request/user.ts
  frontend/src/components/ConfirmPassword/index.styled.ts
  frontend/src/components/ConfirmPassword/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/MyInformation/Info/Basic/index.tsx
  frontend/src/components/MyInformation/Info/OAuth/index.tsx
  frontend/src/components/MyInformation/Info/index.tsx
  frontend/src/utils/user.ts
Labels: 🕹 feature, 🍋 front-end

#285 [BE] 비밀번호 확인 API 구현
  backend/src/main/java/com/woowacourse/momo/global/exception/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/momo/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/request/ChangePasswordRequest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/member/MemberRestHandler.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
Labels: 🕹 feature, 🕋 back-end

#292 [FE] Private Route 구현
  frontend/src/Routes/PrivateWrapper.tsx
  frontend/src/Routes/index.tsx
Labels: 🕹 feature, 🍋 front-end

#295 [FE] 리프레시 토큰 적용
  frontend/src/apis/request/auth.ts
  frontend/src/apis/request/group.ts
  frontend/src/apis/request/user.ts
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/MyInformation/Withdrawal/index.tsx
  frontend/src/pages/Auth/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/user.ts
  frontend/src/utils/token.ts
Labels: 🕹 feature, 🍋 front-end

#297 [FE] 모임 검색 및 필터링 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/@shared/Checkbox/index.styled.ts
  frontend/src/components/@shared/Checkbox/index.tsx
  frontend/src/components/Category/index.tsx
  frontend/src/components/JoinedGroups/index.tsx
  frontend/src/components/RecommendGroups/index.styled.ts
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/components/SearchSection/SearchForm.tsx
  frontend/src/components/SearchSection/SearchForm/index.styled.ts
  frontend/src/components/SearchSection/SearchForm/index.tsx
  frontend/src/components/SearchSection/index.styled.ts
  frontend/src/components/SearchSection/index.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyGroup/index.tsx
  frontend/src/types/data.ts
  frontend/src/utils/url.ts
Labels: 🕹 feature, 🍋 front-end

#301 [FE] 모임 검색 시 엔터를 입력해도 검색되도록 추가
  frontend/src/components/SearchSection/SearchForm/index.styled.ts
  frontend/src/components/SearchSection/SearchForm/index.tsx
Labels: 🕹 feature, 🍋 front-end

#299 [FE] 모임 수정 기능 구현
  frontend/src/App.tsx
  frontend/src/apis/request/group.ts
  frontend/src/assets/svg/calendar.svg
  frontend/src/components/@shared/Calendar/SelectedDate/index.tsx
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/Create/Step1/index.tsx
  frontend/src/components/Create/Step4/index.tsx
  frontend/src/components/Create/Step5/CalendarEditor/index.tsx
  frontend/src/components/Create/Step5/index.styled.ts
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/components/Create/Step6/index.tsx
  frontend/src/components/Create/Step7/index.tsx
  frontend/src/components/Create/Step8/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/GroupEdit/index.styled.ts
  frontend/src/components/GroupEdit/index.tsx
  frontend/src/constants/message.ts
  frontend/src/hooks/useCreateState.ts
  frontend/src/hooks/useInput.ts
  frontend/src/hooks/useModal.ts
  frontend/src/pages/Create/validate.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/condition.ts
  frontend/src/utils/date.ts
Labels: 🕹 feature, 🍋 front-end

#303 [FE] 내 모임 페이지에서 찜한 목록은 준비 중 페이지로 변경
  frontend/public/favicon.jpeg
  frontend/public/index.html
  frontend/src/assets/svg/bean.svg
  frontend/src/components/MyInformation/Info/index.styled.ts
  frontend/src/components/MyInformation/Info/index.tsx
  frontend/src/pages/MyGroup/index.tsx
Labels: 🍋 front-end, 🍑 UI

#305 [FE] groupDetail 정보 로드 오류 해결
  frontend/src/components/GroupEdit/index.tsx
  frontend/webpack/webpack.development.js
Labels: 🐞 bug, 🍋 front-end

#308 [BE] 회원 탈퇴 시 에러 발생
  backend/src/main/java/com/woowacourse/momo/auth/service/TokenService.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/momo/participant/controller/ParticipantController.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#309 [FE] 메인 페이지에서 모임이 없을 시 마감된 모임 제외 체크박스가 보이지 않는 오류 해결
  frontend/public/favicon.ico
  frontend/public/favicon.jpeg
  frontend/public/index.html
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/hooks/useCategory.ts
  frontend/src/pages/Main/index.tsx
Labels: 🐞 bug, 🍋 front-end, 🍑 UI

#312 [FE] 배포 모드에서 favicon이 보이지 않는 오류 해결
  frontend/webpack/webpack.common.js
Labels: 🐞 bug, 🍋 front-end

#314 [FE] 마감 모임 제외 기능 disabled 처리
  frontend/src/components/RecommendGroups/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🐞 bug, 🍋 front-end

#319 [BE] Calendar 도메인 패키지 리팩터링
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Calendar.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Deadline.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Duration.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Schedule.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Schedules.java
  backend/src/test/java/com/woowacourse/momo/fixture/DateFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/DateTimeFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/DurationFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/ScheduleFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/TimeFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/DeadlineFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/DurationFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/ScheduleFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/datetime/DateFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/datetime/DateTimeFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/datetime/TimeFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/CalendarTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/DeadlineTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/DurationTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/ScheduleTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/SchedulesTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupFindRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/domain/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/participant/domain/ParticipantsTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
Labels: 🕋 back-end, 🛠 refactor, ⛑ test

#322 [BE] 조회 클래스 리팩토링
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/GroupAttribute.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/GroupSpecification.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/ParticipantAttribute.java
  backend/src/test/java/com/woowacourse/momo/group/service/specification/GroupSpecificationTest.java
Labels: 🕋 back-end, 🛠 refactor
