Repository woowacourse-teams/2022-momo, pull requests merged in 2022-09, with the labels that each got.

#330 [FE] OAuth, 생성, 내 모임, 내 정보 페이지 리팩토링
  frontend/src/Routes/PrivateWrapper.tsx
  frontend/src/assets/svg/index.ts
  frontend/src/components/Calendar/Content/index.tsx
  frontend/src/components/Calendar/utils/index.ts
  frontend/src/components/CalendarEditor/index.tsx
  frontend/src/components/GroupEdit/Inputs/index.tsx
  frontend/src/components/GroupEdit/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/TopButton/index.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/Create/Navigator/Button/index.tsx
  frontend/src/pages/Create/Navigator/index.tsx
  frontend/src/pages/Create/Steps/@shared/styled.ts
  frontend/src/pages/Create/Steps/Step2/index.styled.ts
  frontend/src/pages/Create/Steps/Step2/index.tsx
  frontend/src/pages/Create/Steps/Step3/index.tsx
  frontend/src/pages/Create/Steps/Step4/index.tsx
  frontend/src/pages/Create/Steps/Step5/Calendar/index.tsx
  frontend/src/pages/Create/Steps/Step5/index.styled.ts
  frontend/src/pages/Create/Steps/Step5/index.tsx
  frontend/src/pages/Create/Steps/Step8/index.styled.ts
  frontend/src/pages/Detail/SideBar/Info/index.tsx
  frontend/src/pages/Detail/SideBar/Participants/index.tsx
  frontend/src/pages/MyGroup/JoinedGroups/index.styled.ts
  frontend/src/pages/MyGroup/JoinedGroups/index.tsx
  frontend/src/pages/MyGroup/index.styled.ts
  frontend/src/pages/MyInformation/Info/Buttons/index.styled.ts
  frontend/src/pages/MyInformation/Info/Buttons/index.tsx
  frontend/src/pages/MyInformation/Info/Inputs/index.styled.ts
  frontend/src/pages/MyInformation/Info/Inputs/index.tsx
  frontend/src/pages/MyInformation/Info/index.styled.ts
  frontend/src/pages/MyInformation/Info/index.tsx
  frontend/src/pages/MyInformation/Withdrawal/index.styled.ts
  frontend/src/pages/MyInformation/Withdrawal/index.tsx
  frontend/src/pages/MyInformation/index.styled.ts
  frontend/src/pages/MyInformation/index.tsx
  frontend/src/types/user.ts
  frontend/src/utils/date.ts
Labels: 🍋 front-end, 🛠 refactor

#333 [BE] 개발서버 배포가 실패하는 이슈
  backend/src/main/java/com/woowacourse/momo/group/controller/dto/request/GroupRequestAssembler.java
Labels: 🐞 bug, 🕋 back-end

#337 [FE] 번들 크기 최적화
  frontend/.babelrc.js
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/font/GangwonEdu_Bold.ttf
  frontend/src/assets/font/GangwonEdu_Bold.woff2
  frontend/src/pages/index.ts
  frontend/src/styles/font.tsx
  frontend/src/styles/global.tsx
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.development.js
  frontend/webpack/webpack.production.js
Labels: 🍋 front-end, 🛠 refactor, 📦 config

#340 [FE] 렌더링 최적화
  frontend/package.json
  frontend/src/assets/svg/pencil.svg
  frontend/src/components/Calendar/index.styled.ts
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/GroupEdit/Inputs/index.styled.ts
  frontend/src/components/Header/User/index.styled.ts
  frontend/src/components/Modal/index.styled.ts
  frontend/src/components/Modal/index.tsx
  frontend/src/components/SearchForm/index.tsx
  frontend/src/components/Snackbar/index.styled.ts
  frontend/src/components/TopButton/index.styled.ts
  frontend/src/components/TopButton/index.tsx
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Create/Steps/Step1/index.tsx
  frontend/src/pages/Create/Steps/Step2/index.tsx
  frontend/src/pages/Create/Steps/Step3/index.tsx
  frontend/src/pages/Create/Steps/Step4/index.tsx
  frontend/src/pages/Create/Steps/Step5/Calendar/index.tsx
  frontend/src/pages/Create/Steps/Step5/index.tsx
  frontend/src/pages/Create/Steps/Step6/index.tsx
  frontend/src/pages/Create/Steps/Step7/index.tsx
  frontend/src/pages/Create/Steps/Step8/index.tsx
  frontend/src/pages/MyInformation/Info/LiveBean/index.styled.ts
  frontend/src/pages/MyInformation/Info/LiveBean/index.tsx
  frontend/src/pages/MyInformation/Info/index.styled.ts
  frontend/src/pages/MyInformation/Info/index.tsx
  frontend/src/styles/global.tsx
  frontend/src/types/utils.ts
Labels: 🍋 front-end, 🛠 refactor, 📦 config

#342 [FE] webpack-bundle-analyzer 비활성화
  frontend/webpack/webpack.common.js
Labels: 🐞 bug, 🍋 front-end

#339 [BE] 조회로직 Specification(Criteria) -> QueryDsl 변경
  backend/build.gradle
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupModifyController.java
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupSearchController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/GroupRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Participants.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryCustom.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/SearchCondition.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/ConditionFilter.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupSearchService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupSearchRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/GroupAttribute.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/GroupSpecification.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/MemberAttribute.java
  backend/src/main/java/com/woowacourse/momo/group/service/specification/ParticipantAttribute.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberFindService.java
  backend/src/main/java/com/woowacourse/momo/storage/controller/ImageController.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/domain/TokenRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupModifyControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupSearchControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/ParticipateControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/DeadlineTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/participant/ParticipantsTest.java
  backend/src/test/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupModifyServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/ParticipateServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/specification/GroupSpecificationTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/MemberRepositoryTest.java
Labels: 🕋 back-end, 🛠 refactor

#346 [FE] 이미지 파일 최적화
  frontend/src/assets/category/1.jpg
  frontend/src/assets/category/1.webp
  frontend/src/assets/category/10.jpg
  frontend/src/assets/category/10.webp
  frontend/src/assets/category/2.jpg
  frontend/src/assets/category/2.webp
  frontend/src/assets/category/3.jpg
  frontend/src/assets/category/3.webp
  frontend/src/assets/category/4.jpg
  frontend/src/assets/category/4.webp
  frontend/src/assets/category/5.jpg
  frontend/src/assets/category/5.webp
  frontend/src/assets/category/6.jpg
  frontend/src/assets/category/6.webp
  frontend/src/assets/category/7.jpg
  frontend/src/assets/category/7.webp
  frontend/src/assets/category/8.jpg
  frontend/src/assets/category/8.webp
  frontend/src/assets/category/9.jpg
  frontend/src/assets/category/9.webp
  frontend/src/assets/category/index.ts
  frontend/src/components/Card/index.styled.ts
  frontend/src/pages/Detail/Content/index.styled.ts
  frontend/src/types/image.d.ts
  frontend/webpack/webpack.common.js
Labels: 🍋 front-end

#350 [FE] gzip 최적화
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/webpack.production.js
Labels: 🍋 front-end, 📦 config

#348 [BE] 구글 OAuth 버그 해결
  backend/src/main/java/com/woowacourse/momo/auth/domain/TokenRepository.java
  backend/src/main/java/com/woowacourse/momo/auth/service/OauthService.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/test/java/com/woowacourse/momo/auth/domain/TokenRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupRepositoryTest.java
Labels: 🐞 bug, 🕋 back-end

#358 [BE] Group 도메인 N+1 문제 해결
  backend/.gitignore
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Participants.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/resources/static/docs/index.html
Labels: 🕋 back-end, 🛠 refactor

#364 [FE] 찜 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/assets/svg/heart_empty.svg
  frontend/src/assets/svg/heart_filled.svg
  frontend/src/assets/svg/index.ts
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/Modal/index.styled.ts
  frontend/src/components/Snackbar/index.styled.ts
  frontend/src/components/TopButton/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useRecoilQuery.ts
  frontend/src/hooks/useThrottle.ts
  frontend/src/pages/Detail/LikeButton/index.styled.ts
  frontend/src/pages/Detail/LikeButton/index.tsx
  frontend/src/pages/Detail/SideBar/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Main/RecommendGroups/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyGroup/CardList/index.styled.ts
  frontend/src/pages/MyGroup/CardList/index.tsx
  frontend/src/pages/MyGroup/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/data.ts
  frontend/src/utils/header.ts
Labels: 🕹 feature, 🍋 front-end

#369 [FE] 릴리즈 이전 수정사항 반영
  frontend/src/Routes/PrivateWrapper.tsx
  frontend/src/apis/request/group.ts
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/TopButton/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useThrottle.ts
  frontend/src/pages/Detail/LikeButton/index.tsx
  frontend/src/types/data.ts
  frontend/src/utils/header.ts
Labels: 🍋 front-end

#363 [BE] 찜 기능 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthConfiguration.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthOptionalInterceptor.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthenticatedOptional.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthenticationOptionalPrincipal.java
  backend/src/main/java/com/woowacourse/momo/auth/config/TokenOptionalResolver.java
  backend/src/main/java/com/woowacourse/momo/auth/support/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupSearchController.java
  backend/src/main/java/com/woowacourse/momo/group/controller/LikeController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/favorite/Favorite.java
  backend/src/main/java/com/woowacourse/momo/group/domain/favorite/Favorites.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryCustom.java
  backend/src/main/java/com/woowacourse/momo/group/exception/GroupErrorCode.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupSearchService.java
  backend/src/main/java/com/woowacourse/momo/group/service/LikeService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupSummaryResponse.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/like/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/like/LikeRestHandler.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupSearchControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/LikeControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupModifyServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/LikeServiceTest.java
  backend/src/test/resources/init.sql
  backend/src/test/resources/truncate.sql
Labels: 🕹 feature, 🕋 back-end

#376 [BE] 모임 참여인원이 실제와 다르게 출력되는 현상 해결
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
Labels: 🐞 bug, 🕋 back-end

#384 [BE] Access Token만료 후, Refresh Token을 통한 재접근 불가 오류
  backend/src/main/java/com/woowacourse/momo/auth/config/RefreshTokenAuthInterceptor.java
  backend/src/main/java/com/woowacourse/momo/auth/domain/Token.java
  backend/src/test/java/com/woowacourse/momo/auth/service/TokenServiceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/support/JwtTokenProviderTest.java
Labels: 🕋 back-end, 🛠 refactor, ⛑ test

#378 [BE] 마감일이 지나지 않아도 참여자 정원이 가득차면 수정/삭제할 수 없는 현상
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/ConditionFilter.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupDeleteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupModifyServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#379 [BE] 탈퇴한 아이디로 다시 회원가입을 할 수 없는 현상
  backend/src/main/java/com/woowacourse/momo/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/momo/auth/service/OauthService.java
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupModifyController.java
  backend/src/main/java/com/woowacourse/momo/member/domain/DeletedMember.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Password.java
  backend/src/main/java/com/woowacourse/momo/member/domain/UserId.java
  backend/src/main/java/com/woowacourse/momo/member/domain/UserName.java
  backend/src/test/java/com/woowacourse/momo/auth/domain/TokenRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/ParticipateServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/UserNameTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/resources/init.sql
Labels: 🐞 bug, 🕋 back-end

#390 [FE] Access Token만료 후, Refresh Token을 통한 재접근 불가 오류
  frontend/.babelrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header/index.tsx
  frontend/src/utils/token.ts
  frontend/webpack/webpack.common.js
Labels: 🐞 bug, 🍋 front-end

#386 [BE] 모집이 마감된 모임에 대하여 찜하기/찜취소 기능 에러가 발생하는 현상
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/test/java/com/woowacourse/momo/group/domain/favorite/FavoriteTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/favorite/FavoritesTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/LikeServiceTest.java
Labels: 🐞 bug, 🕋 back-end, ⛑ test

#389 [BE] QueryDSL 이용하여 pagination 할 때 limit 이 설정되지 않는 현상
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/ConditionFilter.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
Labels: 🐞 bug, 🕋 back-end

#393 [FE] 일정값이 없을때 모임이 생성되지 않는 에러 해결
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Create/Steps/Step2/index.tsx
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/Create/validate.test.ts
  frontend/src/pages/Create/validate.ts
  frontend/src/utils/compare.ts
  frontend/src/utils/object.ts
Labels: 🐞 bug, 🍋 front-end, ⛑ test

#394 [FE] 마감일이 지나지 않아도 참여자 정원이 가득차면 수정/삭제할 수 없는 현상
  frontend/package-lock.json
  frontend/public/mockServiceWorker.js
  frontend/src/pages/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/pages/Detail/SideBar/Info/index.tsx
  frontend/src/pages/Detail/SideBar/index.tsx
Labels: 🐞 bug, 🍋 front-end

#398 [FE] 탈퇴한 아이디로 다시 회원가입을 할 수 없는 현상
  frontend/src/components/Card/index.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/Detail/SideBar/Info/index.tsx
  frontend/src/pages/Detail/SideBar/Participants/index.tsx
Labels: 🐞 bug, 🍋 front-end

#403 [FE] 마감된 모임에도 수정 버튼이 보이는 오류 해결
  frontend/src/pages/Detail/SideBar/Info/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🐞 bug, 🍋 front-end

#400 [BE] 페이지네이션 과정에서 Page의 hasNext()가 잘못 나오는 오류 + 찜 조회 기능 오류
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupSearchControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#404 [BE] 조기마감된 모임에 대한 에러코드가 마감기한이 지나도 동일한 이슈
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
Labels: 🐞 bug, 🕋 back-end
