Repository woowacourse-teams/2022-momo, pull requests merged in 2022-07, with the labels that each got.

#8 [FE] 프론트엔드 환경 구축
  frontend/.babelrc.js
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: 🍋 front-end, 📦 config

#12 [FE] 프로젝트 환경 세팅 보강
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/declare.d.ts
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: 🍋 front-end, 📦 config

#16 [BE] 모임 도메인 설계
  backend/build.gradle
  backend/src/main/java/com/woowacourse/momo/CustomNamingStrategy.java
  backend/src/main/java/com/woowacourse/momo/domain/category/Category.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Day.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Duration.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Schedule.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Schedules.java
  backend/src/main/java/com/woowacourse/momo/domain/member/Member.java
  backend/src/main/java/com/woowacourse/momo/repository/CategoryRepository.java
  backend/src/main/java/com/woowacourse/momo/repository/GroupRepository.java
  backend/src/main/java/com/woowacourse/momo/repository/MemberRepository.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/momo/domain/group/DurationTest.java
  backend/src/test/java/com/woowacourse/momo/repository/CategoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/repository/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/repository/MemberRepositoryTest.java
Labels: 🕹 feature, 🕋 back-end

#18 [FE] 모임 상세 페이지 화면 마크업
  frontend/src/App.tsx
  frontend/src/assets/clock.svg
  frontend/src/assets/crown.svg
  frontend/src/assets/location.svg
  frontend/src/assets/person.svg
  frontend/src/components/Detail/Content/index.styled.ts
  frontend/src/components/Detail/Content/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/Participants/index.styled.ts
  frontend/src/components/Detail/SideBar/Participants/index.tsx
  frontend/src/components/Detail/SideBar/index.styled.ts
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/components/Detail/index.ts
  frontend/src/components/svg/Category.tsx
  frontend/src/components/svg/Person.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/Detail/index.styled.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/index.ts
Labels: 🍋 front-end, 🍑 UI

#21 [BE] 모임 도메인 누락된 필드 추가
  backend/src/main/java/com/woowacourse/momo/domain/group/Group.java
  backend/src/test/java/com/woowacourse/momo/repository/GroupRepositoryTest.java
Labels: 🕋 back-end

#25 [BE] 모임 API 기능 구현
  backend/build.gradle
  backend/src/main/java/com/woowacourse/momo/controller/CategoryController.java
  backend/src/main/java/com/woowacourse/momo/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Day.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Duration.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Schedule.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Schedules.java
  backend/src/main/java/com/woowacourse/momo/domain/member/Member.java
  backend/src/main/java/com/woowacourse/momo/service/CategoryService.java
  backend/src/main/java/com/woowacourse/momo/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/service/dto/CategoryResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/DurationRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/ScheduleRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/TimeRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/DurationResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/ScheduleResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/TimeResponse.java
  backend/src/test/java/com/woowacourse/momo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/GroupAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/RestAssuredConvenienceMethod.java
  backend/src/test/java/com/woowacourse/momo/repository/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/service/CategoryServiceTest.java
  backend/src/test/resources/init.sql
Labels: 🕹 feature, 🕋 back-end

#30 [BE] 코드 컨벤션 작성 및 imports문 정렬
  backend/Momo_CodeStyle.xml
  backend/src/main/java/com/woowacourse/momo/controller/CategoryController.java
  backend/src/main/java/com/woowacourse/momo/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/domain/category/Category.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Day.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Duration.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Schedule.java
  backend/src/main/java/com/woowacourse/momo/domain/group/Schedules.java
  backend/src/main/java/com/woowacourse/momo/domain/member/Member.java
  backend/src/main/java/com/woowacourse/momo/repository/CategoryRepository.java
  backend/src/main/java/com/woowacourse/momo/repository/GroupRepository.java
  backend/src/main/java/com/woowacourse/momo/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/momo/service/CategoryService.java
  backend/src/main/java/com/woowacourse/momo/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/service/dto/CategoryResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/DurationRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/ScheduleRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/request/TimeRequest.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/DurationResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/ScheduleResponse.java
  backend/src/main/java/com/woowacourse/momo/service/dto/response/TimeResponse.java
  backend/src/test/java/com/woowacourse/momo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/GroupAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/RestAssuredConvenienceMethod.java
  backend/src/test/java/com/woowacourse/momo/domain/group/DurationTest.java
  backend/src/test/java/com/woowacourse/momo/repository/CategoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/repository/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/service/CategoryServiceTest.java
Labels: 🕋 back-end, 🎨 style

#32 [BE] 모임 API 기능 - 일부 인수테스트가 통과하지 않는 이슈
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/momo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/CategoryAcceptanceTest.java
  backend/src/test/resources/init.sql
Labels: 🐞 bug, 🕋 back-end

#39 [BE] 스프링부트 버전 오류 & DB 설정 이슈
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: 🐞 bug, 🕋 back-end

#40 [FE] 모임 생성 페이지 화면 마크업
  frontend/.eslintrc.js
  frontend/src/App.tsx
  frontend/src/components/@shared/NavLink/index.tsx
  frontend/src/components/@shared/ScrollToTop/index.tsx
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Create/@shared/styled.ts
  frontend/src/components/Create/Step1/index.tsx
  frontend/src/components/Create/Step2/index.styled.ts
  frontend/src/components/Create/Step2/index.tsx
  frontend/src/components/Create/Step3/index.styled.ts
  frontend/src/components/Create/Step3/index.tsx
  frontend/src/components/Create/Step4/index.styled.ts
  frontend/src/components/Create/Step4/index.tsx
  frontend/src/components/Create/Step5/index.styled.ts
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/components/Create/Step6/index.styled.ts
  frontend/src/components/Create/Step6/index.tsx
  frontend/src/components/Create/Step7/index.styled.ts
  frontend/src/components/Create/Step7/index.tsx
  frontend/src/components/Create/index.ts
  frontend/src/components/Detail/Content/index.styled.ts
  frontend/src/components/Detail/Content/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/components/Dot/index.styled.ts
  frontend/src/components/Dot/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/svg/LeftArrow.tsx
  frontend/src/components/svg/RightArrow.tsx
  frontend/src/constants/path.ts
  frontend/src/layouts/Page/index.styled.ts
  frontend/src/layouts/Page/index.tsx
  frontend/src/pages/Create/index.styled.ts
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/index.ts
  frontend/src/styles/global.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/data.ts
  frontend/src/types/global.d.ts
Labels: 🍋 front-end, 🍑 UI

#41 [BE] 모임 API 기능 및 테스트 리팩터링
  backend/src/main/java/com/woowacourse/momo/MomoApplication.java
  backend/src/main/java/com/woowacourse/momo/category/domain/Category.java
  backend/src/main/java/com/woowacourse/momo/category/domain/CategoryRepository.java
  backend/src/main/java/com/woowacourse/momo/category/service/CategoryService.java
  backend/src/main/java/com/woowacourse/momo/category/service/dto/response/CategoryResponse.java
  backend/src/main/java/com/woowacourse/momo/category/service/dto/response/CategoryResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/schedule/Schedule.java
  backend/src/main/java/com/woowacourse/momo/group/domain/schedule/ScheduleRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/schedule/Schedules.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/DurationRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequestAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/ScheduleRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/DurationResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/ScheduleResponse.java
  backend/src/main/java/com/woowacourse/momo/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/momo/member/dto/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/momo/member/dto/response/MemberResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/member/dto/response/MyInfoResponse.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/test/java/com/woowacourse/momo/MomoApplicationTests.java
  backend/src/test/java/com/woowacourse/momo/auth/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/momo/category/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/category/domain/CategoryTest.java
  backend/src/test/java/com/woowacourse/momo/category/service/CategoryServiceTest.java
  backend/src/test/java/com/woowacourse/momo/common/acceptance/Fixture.java
  backend/src/test/java/com/woowacourse/momo/common/acceptance/RestHandler.java
  backend/src/test/java/com/woowacourse/momo/group/acceptance/GroupAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/duration/DurationTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/schedule/ScheduleTest.java
  backend/src/test/java/com/woowacourse/momo/group/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/group/fixture/ScheduleFixture.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/resources/clear.sql
  backend/src/test/resources/init.sql
  backend/src/test/resources/truncate.sql
Labels: 🕹 feature, 🕋 back-end, 🛠 refactor, ⛑ test

#50 [FE] 카테고리 API 연결
  frontend/.eslintrc.js
  frontend/src/apis/axios.ts
  frontend/src/apis/request/category.ts
  frontend/src/components/Category/index.styled.ts
  frontend/src/components/Category/index.tsx
  frontend/src/components/Create/Step2/index.styled.ts
  frontend/src/components/Create/Step2/index.tsx
  frontend/src/constants/key.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/hooks/useRecoilQuery.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/category.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/pages/Create/index.styled.ts
  frontend/src/store/states.ts
  frontend/src/types/data.ts
  frontend/webpack.config.js
Labels: 🕹 feature, 🍋 front-end

#52 [FE] 모임 생성 페이지 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/assets/complete.svg
  frontend/src/assets/logo.svg
  frontend/src/components/Create/@shared/styled.ts
  frontend/src/components/Create/Navigator/index.styled.ts
  frontend/src/components/Create/Navigator/index.tsx
  frontend/src/components/Create/Step1/index.tsx
  frontend/src/components/Create/Step3/index.tsx
  frontend/src/components/Create/Step4/index.tsx
  frontend/src/components/Create/Step5/index.styled.ts
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/components/Create/Step6/index.tsx
  frontend/src/components/Create/Step7/index.styled.ts
  frontend/src/components/Create/Step7/index.tsx
  frontend/src/components/Dot/index.styled.ts
  frontend/src/components/Dot/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/rule.ts
  frontend/src/hooks/useCreateState.ts
  frontend/src/mocks/handlers/group.ts
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/Create/validate.ts
  frontend/src/utils/PageError.ts
  frontend/src/utils/compare.ts
  frontend/src/utils/date.ts
Labels: 🕹 feature, 🍋 front-end

#56 [BE] 인증 RestDocs 적용
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
Labels: 🕋 back-end

#59 [ALL] .gitignore 설정 추가
  .gitignore
Labels: 🍋 front-end, 🕋 back-end, 📦 config

#61 [BE] Annotation 기반의 Interceptor를 통한 API 인증 처리
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthConfiguration.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/momo/auth/config/Authenticated.java
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/member/controller/MemberController.java
  backend/src/test/java/com/woowacourse/momo/common/acceptance/RestHandler.java
  backend/src/test/java/com/woowacourse/momo/group/acceptance/GroupAcceptanceTest.java
Labels: 🕹 feature, 🕋 back-end

#65 [BE] 누락된 Controller 테스트 작성
  backend/src/test/java/com/woowacourse/momo/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
Labels: 🕋 back-end

#67 [BE] 실패 테스트 코드 수정
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
Labels: 🐞 bug, 🕋 back-end, ⛑ test

#69 [FE] 모임 상세 페이지 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/assets/map.jpg
  frontend/src/components/Detail/Content/index.styled.ts
  frontend/src/components/Detail/Content/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/hooks/useCreateState.ts
  frontend/src/mocks/handlers/group.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/data.ts
  frontend/src/types/global.d.ts
Labels: 🕹 feature, 🍋 front-end

#64 [BE] 모임 참여 기능 구현
  backend/src/main/java/com/woowacourse/momo/globalException/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/momo/globalException/dto/response/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupIdResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/member/dto/response/MemberResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/participant/controller/ParticipantController.java
  backend/src/main/java/com/woowacourse/momo/participant/domain/Participant.java
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/common/acceptance/RestHandler.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/participant/acceptance/ParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
Labels: 🕹 feature, 🕋 back-end

#73 [BE] CI Github Action 추가
  .github/workflows/backend.yml
Labels: 🕋 back-end, ⚙️ infra

#71 [BE] 실패 테스트 코드 수정
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
Labels: 🐞 bug, 🕋 back-end, ⛑ test

#78 [BE] CORS 접근 허용
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthConfiguration.java
Labels: 🕹 feature, 🕋 back-end, 📦 config

#79 [FE] 모임 삭제 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/Detail/SideBar/Info/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/Detail/index.tsx
Labels: 🕹 feature, 🍋 front-end

#82 [BE] 조회 로직 리팩토링
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberFindService.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/acceptance/ParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#86 [BE] CI Github Action 오류 수정
  .github/workflows/backend.yml
Labels: 🐞 bug, 🕋 back-end, ⚙️ infra

#88 [BE] 타회원이 주최한 모임의 정보를 수정 및 삭제할 수 있는 이슈 해결
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequestAssembler.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/acceptance/ParticipantAcceptanceTest.java
Labels: 🐞 bug, 🕋 back-end

#95 [FE] 회원가입 기능 구현
  frontend/src/App.tsx
  frontend/src/apis/request/auth.ts
  frontend/src/components/Login/Modal/index.tsx
  frontend/src/components/Modal/index.styled.ts
  frontend/src/components/Signup/Modal/index.tsx
  frontend/src/components/Signup/index.styled.ts
  frontend/src/components/Signup/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useInput.ts
  frontend/src/types/user.ts
Labels: 🕹 feature, 🍋 front-end

#97 [FE] 로그인 기능 구현
  frontend/src/components/Login/index.styled.ts
  frontend/src/components/Login/index.tsx
  frontend/src/store/states.ts
Labels: 🕹 feature, 🍋 front-end

#101 [FE] 회원정보가 필요한 API 변경
  frontend/src/apis/request/group.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/store/states.ts
Labels: 🕹 feature, 🍋 front-end

#100 [BE] JSON DateTime 형식 불일치로 인한 에러 발생
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponse.java
  backend/src/test/java/com/woowacourse/momo/group/acceptance/GroupAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/participant/acceptance/ParticipantAcceptanceTest.java
Labels: 🐞 bug, 🕋 back-end

#104 [BE] 모임 목록 조회 API 형식 불일치 에러 발생
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupController.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupDetailResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupSimpleResponse.java
  backend/src/main/java/com/woowacourse/momo/participant/controller/ParticipantController.java
  backend/src/test/java/com/woowacourse/momo/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#106 [FE] 모임 참여자 목록 조회 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/Detail/SideBar/Participants/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/constants/key.ts
  frontend/src/constants/path.ts
  frontend/src/types/data.ts
  frontend/src/types/user.ts
Labels: 🕹 feature, 🍋 front-end

#113 [BE] 모임 참여 신청 시 주최자일 경우 예외 처리 추가
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/test/java/com/woowacourse/momo/acceptance/participant/ParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#117 [FE] 달력 컴포넌트 구현
  frontend/src/components/@shared/Calendar/index.styled.ts
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/hooks/useCalendar.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#122 [FE] 모임 생성 페이지에 최대 인원 입력 추가
  frontend/src/apis/request/group.ts
  frontend/src/components/Create/Step3/index.styled.ts
  frontend/src/components/Create/Step3/index.tsx
  frontend/src/components/Create/Step4/index.styled.ts
  frontend/src/components/Create/Step4/index.tsx
  frontend/src/components/Create/Step5/index.styled.ts
  frontend/src/components/Create/Step5/index.tsx
  frontend/src/components/Create/Step6/index.styled.ts
  frontend/src/components/Create/Step6/index.tsx
  frontend/src/components/Create/Step7/index.styled.ts
  frontend/src/components/Create/Step7/index.tsx
  frontend/src/components/Create/Step8/index.styled.ts
  frontend/src/components/Create/Step8/index.tsx
  frontend/src/components/Create/index.ts
  frontend/src/constants/rule.ts
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/Create/validate.ts
  frontend/src/types/data.ts
Labels: 🕹 feature, 🍋 front-end

#126 [FE] 404 페이지 구현
  frontend/src/App.tsx
  frontend/src/assets/not_found.json
  frontend/src/components/Animation/NotFoundPageAnimation.tsx
  frontend/src/components/Animation/index.ts
  frontend/src/pages/NotFound/index.styled.ts
  frontend/src/pages/NotFound/index.tsx
Labels: 🕹 feature, 🍋 front-end

#128 [FE] lottie-react 버젼 충돌 이슈 해결
  frontend/package.json
  frontend/src/components/Animation/NotFoundPageAnimation.tsx
  frontend/src/components/Animation/SpinnerAnimation.tsx
Labels: 🐞 bug, 🍋 front-end, 📦 config

#125 [BE] 모임 인원 제한 추가
  backend/src/main/java/com/woowacourse/momo/category/service/dto/response/CategoryResponse.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/group/GroupCapacityRange.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequestAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupSummaryResponse.java
  backend/src/main/java/com/woowacourse/momo/member/dto/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/participant/ParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupCapacityRangeTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
  backend/src/test/resources/init.sql
Labels: 🕹 feature, 🕋 back-end

#134 [BE] 패치지 계층 수정 및 코드 컨벤션 수정
  backend/src/main/java/com/woowacourse/momo/auth/config/TokenResolver.java
  backend/src/main/java/com/woowacourse/momo/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/momo/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/momo/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/woowacourse/momo/auth/service/dto/request/SignUpRequest.java
  backend/src/main/java/com/woowacourse/momo/auth/service/dto/response/LoginResponse.java
  backend/src/main/java/com/woowacourse/momo/auth/support/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupSummaryResponse.java
  backend/src/main/java/com/woowacourse/momo/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/request/ChangeNameRequest.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/request/ChangePasswordRequest.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/response/MemberResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/response/MyInfoResponse.java
  backend/src/main/java/com/woowacourse/momo/participant/controller/ParticipantController.java
  backend/src/main/java/com/woowacourse/momo/participant/service/ParticipantService.java
  backend/src/test/java/com/woowacourse/momo/acceptance/auth/AuthRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/member/MemberRestHandler.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/schedule/ScheduleTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/momo/participant/service/ParticipantServiceTest.java
Labels: 🕋 back-end, 🎨 style

#131 [FE] 모달 애니메이션 추가
  frontend/src/components/Modal/index.styled.ts
  frontend/src/components/Modal/index.tsx
Labels: 🍋 front-end, 🍑 UI

#140 [BE] 모임 전체 조회 반환값에 현재 참여자 수 추가
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupSummaryResponse.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
Labels: 🕹 feature, 🕋 back-end

#138 [BE] 회원 필드 변경
  backend/src/main/java/com/woowacourse/momo/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/momo/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/woowacourse/momo/auth/service/dto/request/SignUpRequest.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/momo/member/domain/MemberRepository.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/response/MemberResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/member/service/dto/response/MyInfoResponse.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/momo/acceptance/auth/AuthRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/group/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/momo/participant/controller/ParticipantControllerTest.java
  backend/src/test/resources/init.sql
Labels: 🕹 feature, 🕋 back-end

#139 [FE] 메인, 모임 상세 페이지에 해당 모임의 최대 인원 및 현재 모인 인원 수 추가
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Detail/SideBar/Participants/index.styled.ts
  frontend/src/components/Detail/SideBar/Participants/index.tsx
  frontend/src/components/Detail/SideBar/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/types/data.ts
Labels: 🕹 feature, 🍋 front-end

#141 [FE] 회원 정보 수정 기능 구현
  frontend/src/App.tsx
  frontend/src/apis/request/user.ts
  frontend/src/assets/pencil.svg
  frontend/src/assets/userInfo_cover.jpg
  frontend/src/components/Header/index.tsx
  frontend/src/constants/key.ts
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/MemberInfo/index.styled.ts
  frontend/src/pages/MemberInfo/index.tsx
  frontend/src/types/user.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#144 [FE] 모임 참여 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/@shared/Calendar/index.styled.ts
  frontend/src/components/@shared/NavLink/index.tsx
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Create/@shared/styled.ts
  frontend/src/components/Create/Navigator/index.tsx
  frontend/src/components/Detail/Content/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/components/Detail/SideBar/Info/index.styled.ts
  frontend/src/components/Detail/SideBar/Info/index.tsx
  frontend/src/components/Dot/index.styled.ts
  frontend/src/components/Header/index.styled.ts
  frontend/src/components/Search/index.styled.ts
  frontend/src/styles/global.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/global.d.ts
Labels: 🕹 feature, 🍋 front-end

#143 [FE] 회원 탈퇴 기능 구현
  frontend/src/App.tsx
  frontend/src/apis/request/user.ts
  frontend/src/components/Login/index.tsx
  frontend/src/components/Signup/index.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/MyInfo/index.styled.ts
  frontend/src/pages/MyInfo/index.tsx
  frontend/src/pages/index.ts
  frontend/src/types/data.ts
  frontend/src/types/user.ts
Labels: 🕹 feature, 🍋 front-end
