Repository woowacourse-teams/2022-momo, pull requests merged in 2022-11, with the labels that each got.

#534 [BE] 조회 쿼리 개선
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberValidatorTest.java
Labels: 🕋 back-end, 🛠 refactor

#540 [BE] 비관적 락 개선
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/ParticipateService.java
Labels: 🕋 back-end, 🛠 refactor

#542 [FE] 프로젝트 리팩토링
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ImageDropBox/index.tsx
  frontend/src/constants/key.ts
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/constants/rule.ts
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.production.js
Labels: 🍋 front-end, 🛠 refactor

#544 [FE] 배포 미리보기 스크립트 적용
  .github/workflows/frontend.yml
Labels: 🍋 front-end, ⚙️ infra, 📦 config

#546 [BE] 이미지 업로드 파일 크기 제한 변경
  backend/src/main/java/com/woowacourse/momo/global/exception/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/momo/global/exception/exception/GlobalErrorCode.java
  backend/src/main/java/com/woowacourse/momo/storage/exception/GroupImageErrorCode.java
  backend/src/main/java/com/woowacourse/momo/storage/service/GroupImageService.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/woowacourse/momo/fixture/ImageFixture.java
  backend/src/test/java/com/woowacourse/momo/storage/service/GroupImageServiceTest.java
Labels: 🕹 feature, 🕋 back-end
