Repository woowacourse-teams/2022-momo, pull requests merged in 2022-10, with the labels that each got.

#407 [FE] 메인 페이지에서 검색 시 새롭게 들어온 모임 목록이 기존 모임 목록에 추가되는 오류 해결
  frontend/src/pages/Main/index.tsx
Labels: 🐞 bug, 🍋 front-end

#405 [FE] 에러 세분화 적용
  frontend/src/apis/request/group.ts
  frontend/src/apis/request/user.ts
  frontend/src/components/CalendarEditor/index.tsx
  frontend/src/components/GroupEdit/index.tsx
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/Signup/index.tsx
  frontend/src/components/Signup/validate.ts
  frontend/src/constants/message.ts
  frontend/src/constants/rule.ts
  frontend/src/hooks/useHandleError.ts
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/Create/validate.ts
  frontend/src/pages/Detail/LikeButton/index.tsx
  frontend/src/pages/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/pages/MyInformation/Info/Buttons/index.tsx
  frontend/src/pages/MyInformation/Info/index.tsx
  frontend/src/pages/MyInformation/Withdrawal/index.tsx
  frontend/src/types/data.ts
  frontend/src/types/utils.ts
  frontend/src/utils/PageError.ts
  frontend/src/utils/errorController.ts
Labels: 🕹 feature, 🍋 front-end

#385 [BE] 도메인(Member, Group) 필드 제약조건 변경 및 검증로직 수정
  backend/src/main/java/com/woowacourse/momo/auth/support/google/GoogleConnector.java
  backend/src/main/java/com/woowacourse/momo/group/controller/dto/request/GroupRequestAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/domain/Description.java
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/GroupName.java
  backend/src/main/java/com/woowacourse/momo/group/exception/GroupErrorCode.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/ConditionFilter.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/member/domain/DeletedMember.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Password.java
  backend/src/main/java/com/woowacourse/momo/member/domain/UserId.java
  backend/src/main/java/com/woowacourse/momo/member/domain/UserName.java
  backend/src/main/java/com/woowacourse/momo/member/exception/MemberErrorCode.java
  backend/src/test/java/com/woowacourse/momo/acceptance/auth/AuthRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/momo/auth/support/JwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/momo/category/domain/CategoryTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupModifyControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupSearchControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/LikeControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/ParticipateControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/DescriptionTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupNameTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/ParticipateServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/PasswordTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/UserIdTest.java
  backend/src/test/java/com/woowacourse/momo/member/domain/UserNameTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberFindServiceTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
  backend/src/test/resources/init.sql
Labels: 🕋 back-end, 🛠 refactor

#411 [FE] signup URL을 members로 변경
  frontend/src/constants/path.ts
Labels: 🐞 bug, 🍋 front-end

#416 [BE] 모임의 일정이 설정한 날짜보다 하루 전날로 저장되는 현상 해결
  backend/src/main/java/com/woowacourse/momo/global/config/TimeConfig.java
Labels: 🐞 bug, 🕋 back-end

#419 [BE] 지원하지 않은 API 요청에 대해 404 반환
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthConfiguration.java
  backend/src/main/java/com/woowacourse/momo/global/exception/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/momo/global/exception/exception/GlobalErrorCode.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-test.yml
Labels: 🕹 feature, 🕋 back-end

#420 [FE] 랜딩 페이지
  frontend/src/Routes/index.tsx
  frontend/src/assets/landing/four.webp
  frontend/src/assets/landing/three.webp
  frontend/src/assets/landing/two_1.webp
  frontend/src/assets/landing/two_2.webp
  frontend/src/assets/landing/two_3.webp
  frontend/src/assets/svg/category/cafe.svg
  frontend/src/assets/svg/category/culture.svg
  frontend/src/assets/svg/category/drink.svg
  frontend/src/assets/svg/category/exercise.svg
  frontend/src/assets/svg/category/game.svg
  frontend/src/assets/svg/category/guitar.svg
  frontend/src/assets/svg/category/mogacko.svg
  frontend/src/assets/svg/category/sicsa.svg
  frontend/src/assets/svg/category/study.svg
  frontend/src/assets/svg/category/travel.svg
  frontend/src/assets/svg/index.ts
  frontend/src/components/TopButton/index.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useThrottle.ts
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/Detail/LikeButton/index.tsx
  frontend/src/pages/Landing/@shared/index.styled.ts
  frontend/src/pages/Landing/Steps/Step1/index.styled.ts
  frontend/src/pages/Landing/Steps/Step1/index.tsx
  frontend/src/pages/Landing/Steps/Step2/index.styled.ts
  frontend/src/pages/Landing/Steps/Step2/index.tsx
  frontend/src/pages/Landing/Steps/Step3/index.tsx
  frontend/src/pages/Landing/Steps/Step4/index.tsx
  frontend/src/pages/Landing/Steps/Step5/index.styled.ts
  frontend/src/pages/Landing/Steps/Step5/index.tsx
  frontend/src/pages/Landing/Steps/index.ts
  frontend/src/pages/Landing/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyInformation/Info/Buttons/index.tsx
  frontend/src/pages/MyInformation/Withdrawal/index.tsx
  frontend/src/pages/index.ts
  frontend/src/types/data.ts
Labels: 🍋 front-end, 🍑 UI

#423 [FE] 모임 목록 마감된 모임 필터링 기본값 변경
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyGroup/index.tsx
Labels: 🍋 front-end

#428 [FE] 구글 로그인 시 이전 페이지로 보내주는 기능
  frontend/src/Routes/PrivateWrapper.tsx
  frontend/src/apis/request/auth.ts
  frontend/src/components/Login/index.tsx
  frontend/src/components/Snackbar/index.styled.ts
  frontend/src/components/Snackbar/index.tsx
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/Detail/SideBar/Info/ControlButton/index.tsx
  frontend/src/pages/Landing/@shared/index.styled.ts
  frontend/src/utils/location.ts
Labels: 🕹 feature, 🍋 front-end

#431 [BE] 모임 참여 요청이 동시에 왔을 때 참여 인원을 초과하는 문제
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Capacity.java
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Participants.java
  backend/src/main/java/com/woowacourse/momo/group/service/ParticipateService.java
  backend/src/test/java/com/woowacourse/momo/group/domain/participant/CapacityTest.java
Labels: 🐞 bug, 🕋 back-end

#427 [BE] Group엔티티와 Favorite엔티티의 연관관계를 단방향으로 의존성 방향 수정
  backend/src/main/java/com/woowacourse/momo/favorite/controller/FavoriteController.java
  backend/src/main/java/com/woowacourse/momo/favorite/domain/Favorite.java
  backend/src/main/java/com/woowacourse/momo/favorite/domain/FavoriteRepository.java
  backend/src/main/java/com/woowacourse/momo/favorite/event/FavoriteDeleteEventListener.java
  backend/src/main/java/com/woowacourse/momo/favorite/service/FavoriteService.java
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/favorite/Favorite.java
  backend/src/main/java/com/woowacourse/momo/group/domain/favorite/Favorites.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryCustom.java
  backend/src/main/java/com/woowacourse/momo/group/event/GroupDeleteEvent.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupSearchService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupValidator.java
  backend/src/main/java/com/woowacourse/momo/group/service/LikeService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/main/java/com/woowacourse/momo/member/event/MemberDeleteEvent.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberValidator.java
  backend/src/test/java/com/woowacourse/momo/acceptance/favorite/FavoriteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/favorite/FavoriteRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/controller/FavoriteControllerTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/domain/FavoriteRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/domain/FavoriteTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/event/FavoriteDeleteEventListenerTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/service/FavoriteServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupSearchControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/favorite/FavoriteTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/favorite/FavoritesTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupValidatorTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberValidatorTest.java
Labels: 🕋 back-end, 🛠 refactor

#436 [BE] JPA 지연 로딩 적용
  backend/src/main/java/com/woowacourse/momo/auth/domain/Token.java
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Participant.java
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Participants.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/main/java/com/woowacourse/momo/member/domain/Member.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupRepositoryTest.java
Labels: 🕋 back-end, 🛠 refactor

#437 [BE] 동일한 사용자 이름으로 회원가입하는 경우에 대한 유효성 검증
  backend/src/main/java/com/woowacourse/momo/auth/exception/AuthErrorCode.java
  backend/src/main/java/com/woowacourse/momo/member/domain/MemberRepository.java
  backend/src/main/java/com/woowacourse/momo/member/exception/MemberErrorCode.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/test/java/com/woowacourse/momo/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/controller/FavoriteControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/ParticipateControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#443 [FE] 모임 상세 페이지 디자인 변경
  frontend/src/assets/svg/arrow.svg
  frontend/src/assets/svg/index.ts
  frontend/src/assets/svg/list.svg
  frontend/src/assets/svg/location.svg
  frontend/src/assets/svg/person.svg
  frontend/src/components/Header/index.tsx
  frontend/src/pages/Detail/@shared/index.styled.ts
  frontend/src/pages/Detail/Content/index.styled.ts
  frontend/src/pages/Detail/Content/index.tsx
  frontend/src/pages/Detail/Description/index.styled.ts
  frontend/src/pages/Detail/Description/index.tsx
  frontend/src/pages/Detail/Location/index.styled.ts
  frontend/src/pages/Detail/Location/index.tsx
  frontend/src/pages/Detail/Participants/index.styled.ts
  frontend/src/pages/Detail/Participants/index.tsx
  frontend/src/pages/Detail/Schedule/Calendar/index.styled.ts
  frontend/src/pages/Detail/Schedule/Calendar/index.tsx
  frontend/src/pages/Detail/Schedule/List/index.styled.ts
  frontend/src/pages/Detail/Schedule/List/index.tsx
  frontend/src/pages/Detail/Schedule/index.styled.ts
  frontend/src/pages/Detail/Schedule/index.tsx
  frontend/src/pages/Detail/SideBar/Info/index.styled.ts
  frontend/src/pages/Detail/SideBar/Info/index.tsx
  frontend/src/pages/Detail/SideBar/Participants/index.styled.ts
  frontend/src/pages/Detail/SideBar/Participants/index.tsx
  frontend/src/pages/Detail/SideBar/index.tsx
  frontend/src/pages/Detail/Versions/@shared/index.styled.ts
  frontend/src/pages/Detail/Versions/Desktop/Content/index.styled.ts
  frontend/src/pages/Detail/Versions/Desktop/Content/index.tsx
  frontend/src/pages/Detail/Versions/Desktop/ControlButton/index.styled.ts
  frontend/src/pages/Detail/Versions/Desktop/ControlButton/index.tsx
  frontend/src/pages/Detail/Versions/Desktop/LikeButton/index.styled.ts
  frontend/src/pages/Detail/Versions/Desktop/LikeButton/index.tsx
  frontend/src/pages/Detail/Versions/Desktop/SideBar/index.styled.ts
  frontend/src/pages/Detail/Versions/Desktop/SideBar/index.tsx
  frontend/src/pages/Detail/Versions/Desktop/index.styled.ts
  frontend/src/pages/Detail/Versions/Desktop/index.tsx
  frontend/src/pages/Detail/Versions/Mobile/ControlButton/index.styled.ts
  frontend/src/pages/Detail/Versions/Mobile/ControlButton/index.tsx
  frontend/src/pages/Detail/Versions/Mobile/LikeButton/index.styled.ts
  frontend/src/pages/Detail/Versions/Mobile/LikeButton/index.tsx
  frontend/src/pages/Detail/Versions/Mobile/index.styled.ts
  frontend/src/pages/Detail/Versions/Mobile/index.tsx
  frontend/src/pages/Detail/index.styled.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/utils/date.ts
Labels: 🍋 front-end, 🍑 UI

#445 [FE] 내 모임 페이지 디자인 변경
  frontend/src/apis/request/group.ts
  frontend/src/components/Animation/Loading.tsx
  frontend/src/components/Animation/NoResult.tsx
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/NoResult/index.styled.ts
  frontend/src/components/SearchForm/index.styled.ts
  frontend/src/components/SearchForm/index.tsx
  frontend/src/pages/Main/Category/index.styled.ts
  frontend/src/pages/Main/FilterSection/index.styled.ts
  frontend/src/pages/Main/FilterSection/index.tsx
  frontend/src/pages/MyGroup/CardList/index.styled.ts
  frontend/src/pages/MyGroup/CardList/index.tsx
  frontend/src/pages/MyGroup/index.styled.ts
  frontend/src/pages/MyGroup/index.tsx
Labels: 🍋 front-end, 🍑 UI

#448 [BE] 모임 장소 수정 시 세부내용이 잘못 업데이트 되는 이슈 발생
  backend/src/main/java/com/woowacourse/momo/group/controller/dto/request/GroupRequestAssembler.java
Labels: 🐞 bug, 🕋 back-end

#441 [BE] 백엔드 모임 조회 쿼리 성능개선
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryCustom.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/dto/GroupSummaryRepositoryResponse.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupFindService.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupSearchService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/ScheduleFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/datetime/DateFixture.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#450 [BE] 모임 수정 API와 모임 장소 수정 API 통합
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupModifyController.java
  backend/src/main/java/com/woowacourse/momo/group/controller/dto/request/GroupRequestAssembler.java
  backend/src/main/java/com/woowacourse/momo/group/controller/dto/request/GroupUpdateApiRequest.java
  backend/src/main/java/com/woowacourse/momo/group/controller/dto/request/LocationUpdateApiRequest.java
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupFindAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupRestHandler.java
  backend/src/test/java/com/woowacourse/momo/acceptance/group/GroupUpdateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/LocationFixture.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupModifyControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupModifyServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#446 [BE] 백엔드 모임 CUD 쿼리 성능개선
  backend/src/main/java/com/woowacourse/momo/auth/domain/TokenRepository.java
  backend/src/main/java/com/woowacourse/momo/favorite/domain/FavoriteRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/Group.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Calendar.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Schedule.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/ScheduleRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/calendar/Schedules.java
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/participant/Participants.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/exception/GroupErrorCode.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupModifyService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupRequest.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/test/java/com/woowacourse/momo/fixture/GroupFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/DurationFixture.java
  backend/src/test/java/com/woowacourse/momo/fixture/calendar/ScheduleFixture.java
  backend/src/test/java/com/woowacourse/momo/group/domain/GroupRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/CalendarTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/ScheduleRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/calendar/SchedulesTest.java
  backend/src/test/java/com/woowacourse/momo/group/domain/participant/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupModifyServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#454 [BE] 모임 조회 로직 리팩토링
  backend/build.gradle
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthConfiguration.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthOptionalInterceptor.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthenticatedOptional.java
  backend/src/main/java/com/woowacourse/momo/auth/config/AuthenticationOptionalPrincipal.java
  backend/src/main/java/com/woowacourse/momo/auth/config/TokenOptionalResolver.java
  backend/src/main/java/com/woowacourse/momo/group/controller/GroupSearchController.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryCustom.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupSearchService.java
  backend/src/main/java/com/woowacourse/momo/group/service/dto/response/GroupResponseAssembler.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupModifyServiceTest.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
Labels: 🕋 back-end, 🛠 refactor

#456 [BE] timezone 문제 해결
  backend/src/main/java/com/woowacourse/momo/MomoApplication.java
Labels: 🐞 bug, 🕋 back-end

#457 [FE] 내 정보 페이지 디자인 변경
  frontend/src/App.tsx
  frontend/src/components/Header/User/index.styled.ts
  frontend/src/pages/Detail/Description/index.styled.ts
  frontend/src/pages/Detail/Schedule/index.styled.ts
  frontend/src/pages/Detail/versions/@shared/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/ControlButton/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/Left/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/Left/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/SideBar/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/SideBar/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/index.tsx
  frontend/src/pages/Detail/versions/Desktop/ControlButton/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Desktop/LikeButton/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/LikeButton/index.tsx
  frontend/src/pages/Detail/versions/Desktop/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/ControlButton/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/index.tsx
  frontend/src/pages/Detail/versions/Mobile/ControlButton/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/LikeButton/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/LikeButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/index.tsx
  frontend/src/pages/Landing/Steps/Step5/index.styled.ts
  frontend/src/pages/MyInformation/Info/Inputs/index.styled.ts
  frontend/src/pages/MyInformation/Info/LiveBean/index.styled.ts
  frontend/src/pages/MyInformation/Info/LiveBean/index.tsx
  frontend/src/pages/MyInformation/Info/index.styled.ts
  frontend/src/pages/MyInformation/Withdrawal/index.styled.ts
Labels: 🍋 front-end, 🍑 UI

#461 [FE] 헤더&푸터 구현
  frontend/src/App.tsx
  frontend/src/assets/svg/create.svg
  frontend/src/assets/svg/index.ts
  frontend/src/assets/svg/my_group.svg
  frontend/src/assets/svg/new_group.svg
  frontend/src/assets/svg/sign_in.svg
  frontend/src/assets/svg/sign_up.svg
  frontend/src/components/ConfirmPassword/index.styled.ts
  frontend/src/components/Footer/index.styled.ts
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Header/User/index.styled.ts
  frontend/src/components/Header/User/index.tsx
  frontend/src/components/Header/index.styled.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Login/index.styled.ts
  frontend/src/components/Modal/index.styled.ts
  frontend/src/components/Signup/index.styled.ts
  frontend/src/components/TopButton/index.styled.ts
  frontend/src/layouts/Page/index.styled.ts
  frontend/src/layouts/Page/index.tsx
  frontend/src/pages/Detail/versions/@shared/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/LikeButton/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/index.tsx
  frontend/src/pages/Main/Category/index.styled.ts
  frontend/src/pages/Main/FilterSection/index.styled.ts
  frontend/src/pages/Main/WholeGroups/index.styled.ts
  frontend/src/pages/Main/index.styled.ts
  frontend/src/pages/Main/index.tsx
Labels: 🍋 front-end, 🍑 UI

#464 [FE] access token이 유효하지 않을 때 그대로 데이터 요청을 보내는 에러 해결
  frontend/src/App.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Signup/index.styled.ts
  frontend/src/constants/rule.ts
  frontend/src/pages/Detail/versions/Mobile/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/index.tsx
  frontend/src/pages/Main/index.styled.ts
Labels: 🐞 bug, 🍋 front-end

#470 [FE] 카카오맵 API 에러 처리
  frontend/src/assets/svg/my_group.svg
  frontend/src/assets/svg/new_group.svg
  frontend/src/components/Card/index.styled.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Checkbox/index.styled.ts
  frontend/src/components/ErrorBoundary/Fallback/Category/index.styled.ts
  frontend/src/components/ErrorBoundary/Fallback/Category/index.tsx
  frontend/src/components/ErrorBoundary/Fallback/Location/index.styled.ts
  frontend/src/components/ErrorBoundary/Fallback/Location/index.tsx
  frontend/src/components/Footer/index.styled.ts
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Header/index.styled.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Postcode/index.tsx
  frontend/src/components/SearchForm/index.styled.ts
  frontend/src/components/Signup/index.tsx
  frontend/src/components/Snackbar/index.styled.ts
  frontend/src/components/Snackbar/index.tsx
  frontend/src/components/TopButton/index.styled.ts
  frontend/src/components/TopButton/index.tsx
  frontend/src/components/svg/Logo.tsx
  frontend/src/hooks/useHandleError.ts
  frontend/src/hooks/useSnackbar.ts
  frontend/src/layouts/Page/index.styled.ts
  frontend/src/layouts/Page/index.tsx
  frontend/src/pages/Detail/Location/Map/index.styled.ts
  frontend/src/pages/Detail/Location/Map/index.tsx
  frontend/src/pages/Detail/Location/index.styled.ts
  frontend/src/pages/Detail/Location/index.tsx
  frontend/src/pages/Detail/versions/@shared/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Desktop/LikeButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/ControlButton/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/index.styled.ts
  frontend/src/pages/Detail/versions/Mobile/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/LikeButton/index.tsx
  frontend/src/pages/Main/Category/index.styled.ts
  frontend/src/pages/Main/Category/index.tsx
  frontend/src/pages/Main/FilterSection/index.styled.ts
  frontend/src/pages/Main/SearchSection/index.styled.ts
  frontend/src/pages/Main/index.styled.ts
  frontend/src/pages/MyGroup/index.styled.ts
  frontend/src/pages/NotFound/index.styled.ts
  frontend/src/store/states.ts
  frontend/src/types/condition.ts
  frontend/src/utils/category.tsx
Labels: 🍋 front-end, 🍑 UI

#471 [FE] 생성 페이지 디자인 변경
  frontend/src/apis/request/group.ts
  frontend/src/assets/svg/complete.svg
  frontend/src/assets/svg/exclamation_mark.svg
  frontend/src/assets/svg/index.ts
  frontend/src/assets/svg/triangle.svg
  frontend/src/components/CalendarEditor/index.styled.ts
  frontend/src/components/CalendarEditor/index.tsx
  frontend/src/constants/message.ts
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Create/Navigator/index.styled.ts
  frontend/src/pages/Create/Navigator/index.tsx
  frontend/src/pages/Create/Steps/@shared/styled.ts
  frontend/src/pages/Create/Steps/CreateSteps.tsx
  frontend/src/pages/Create/Steps/Step1/index.styled.ts
  frontend/src/pages/Create/Steps/Step1/index.tsx
  frontend/src/pages/Create/Steps/Step2/index.styled.ts
  frontend/src/pages/Create/Steps/Step2/index.tsx
  frontend/src/pages/Create/Steps/Step3/index.tsx
  frontend/src/pages/Create/Steps/Step4/index.styled.ts
  frontend/src/pages/Create/Steps/Step4/index.tsx
  frontend/src/pages/Create/Steps/Step5/index.styled.ts
  frontend/src/pages/Create/Steps/Step5/index.tsx
  frontend/src/pages/Create/Steps/Step6/index.tsx
  frontend/src/pages/Create/Steps/Step7/index.styled.ts
  frontend/src/pages/Create/Steps/Step7/index.tsx
  frontend/src/pages/Create/Steps/Step8/index.tsx
  frontend/src/pages/Create/Steps/index.ts
  frontend/src/pages/Create/index.styled.ts
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/Create/validate.test.ts
  frontend/src/pages/Create/validate.ts
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.tsx
  frontend/src/styles/global.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/data.ts
  frontend/src/types/global.d.ts
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#475 [BE] RestDocs 파일 계층화 및 문서 표현 문자열 개선
  backend/build.gradle
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/category.adoc
  backend/src/docs/asciidoc/groupModify.adoc
  backend/src/docs/asciidoc/groupSearch.adoc
  backend/src/docs/asciidoc/image.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/like.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/overview.adoc
  backend/src/docs/asciidoc/participate.adoc
  backend/src/test/java/com/woowacourse/momo/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/auth/controller/OauthControllerTest.java
  backend/src/test/java/com/woowacourse/momo/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/woowacourse/momo/favorite/controller/FavoriteControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupModifyControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/GroupSearchControllerTest.java
  backend/src/test/java/com/woowacourse/momo/group/controller/ParticipateControllerTest.java
  backend/src/test/java/com/woowacourse/momo/member/controller/MemberControllerTest.java
Labels: 🕋 back-end, 🛠 refactor

#479 [BE] 이미 존재하는 사용자 이름으로 수정하는 경우에 대한 유효성 검증
  backend/src/main/java/com/woowacourse/momo/member/service/MemberService.java
  backend/src/test/java/com/woowacourse/momo/member/service/MemberServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#482 [BE] 모임 목록 조회 시 이미지 정보가 없으면 빈값으로 보여지는 현상
  backend/src/main/java/com/woowacourse/momo/group/domain/search/dto/GroupSummaryRepositoryResponse.java
  backend/src/main/java/com/woowacourse/momo/group/service/GroupSearchService.java
  backend/src/test/java/com/woowacourse/momo/group/service/GroupSearchServiceTest.java
Labels: 🐞 bug, 🕋 back-end

#485 [FE] 썸네일 기능 구현
  frontend/src/apis/request/group.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/ImageDropBox/index.styled.ts
  frontend/src/components/ImageDropBox/index.tsx
  frontend/src/components/SearchForm/index.tsx
  frontend/src/constants/message.ts
  frontend/src/hooks/useModal.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Detail/versions/@shared/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Desktop/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Desktop/index.tsx
  frontend/src/pages/Detail/versions/Mobile/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/condition.ts
  frontend/src/types/data.ts
  frontend/src/utils/category.tsx
Labels: 🕹 feature, 🍋 front-end, 🍑 UI

#487 [FE] 랜딩 페이지 반응형 적용
  frontend/src/assets/landing/four.webp
  frontend/src/assets/landing/three.webp
  frontend/src/assets/landing/two_1.webp
  frontend/src/assets/landing/two_2.webp
  frontend/src/assets/landing/two_3.webp
  frontend/src/pages/Landing/@shared/index.styled.ts
  frontend/src/pages/Landing/Steps/Step1/index.styled.ts
  frontend/src/pages/Landing/Steps/Step2/index.styled.ts
  frontend/src/pages/Landing/Steps/Step3/index.tsx
  frontend/src/pages/Landing/Steps/Step4/index.tsx
  frontend/src/pages/Landing/Steps/Step5/index.styled.ts
  frontend/src/pages/Landing/Steps/Step5/index.tsx
  frontend/src/pages/Landing/index.tsx
Labels: 🍋 front-end, 🍑 UI

#483 [BE] 스프링 애플리케이션의 Docker🐳 화
  backend/build.gradle
  backend/docker/dockerfile/Dockerfile
Labels: 🕋 back-end, ⚙️ infra

#495 [FE] .jpg 형식의 파일을 받지 않는 에러 해결
  frontend/src/components/ImageDropBox/index.tsx
  frontend/src/constants/message.ts
Labels: 🐞 bug, 🍋 front-end

#496 [BE] 내가 참여한 모임 목록 조회에서 참여자 수 불일치 문제
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
  backend/src/test/java/com/woowacourse/momo/group/domain/search/GroupSearchRepositoryTest.java
Labels: 🐞 bug, 🕋 back-end

#499 [FE] 썸네일 에러 코드 변경
  frontend/src/assets/svg/camera.svg
  frontend/src/assets/svg/index.ts
  frontend/src/components/ImageDropBox/index.styled.ts
  frontend/src/components/ImageDropBox/index.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Detail/versions/@shared/index.styled.ts
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/index.tsx
  frontend/src/pages/Detail/versions/Desktop/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/index.tsx
  frontend/src/pages/Detail/versions/Mobile/index.tsx
Labels: 🕹 feature, 🍋 front-end

#505 [FE] 모임 상세 정보 타입에서 id 제거
  frontend/src/apis/request/group.ts
  frontend/src/components/ImageDropBox/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/index.tsx
  frontend/src/pages/Detail/versions/Desktop/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Desktop/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/index.tsx
  frontend/src/pages/Detail/versions/Mobile/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/index.tsx
  frontend/src/store/states.ts
  frontend/src/types/data.ts
Labels: 🐞 bug, 🍋 front-end

#509 [FE] 상세 페이지 refetch 수정
  frontend/src/pages/Detail/versions/Desktop/ControlButton/index.tsx
  frontend/src/pages/Detail/versions/Mobile/ControlButton/index.tsx
Labels: 🕹 feature, 🍋 front-end

#507 [BE] 동시성 문제 해결
  backend/src/main/java/com/woowacourse/momo/group/domain/search/GroupSearchRepository.java
  backend/src/main/java/com/woowacourse/momo/group/service/ParticipateService.java
Labels: 🕋 back-end, 🛠 refactor

#502 [FE] 생성 페이지 UI/UX 개선
  frontend/src/assets/svg/index.ts
  frontend/src/constants/message.ts
  frontend/src/hooks/useCreateState.ts
  frontend/src/pages/Create/Navigator/index.styled.ts
  frontend/src/pages/Create/Navigator/index.tsx
  frontend/src/pages/Create/Steps/@shared/styled.ts
  frontend/src/pages/Create/Steps/CreateSteps.tsx
  frontend/src/pages/Create/Steps/Step2/index.tsx
  frontend/src/pages/Create/Steps/Step4/index.tsx
  frontend/src/pages/Create/index.styled.ts
  frontend/src/pages/Create/index.tsx
Labels: 🍋 front-end, 🍑 UI

#513 [BE] Github Action 적용 브랜치 변경
  .github/workflows/backend.yml
Labels: 🕋 back-end, 📦 config

#519 [BE] 모임 조회 이상 현상
  backend/src/main/java/com/woowacourse/momo/group/domain/search/dto/GroupIdRepositoryResponse.java
  backend/src/main/java/com/woowacourse/momo/group/infrastructure/querydsl/GroupSearchRepositoryImpl.java
Labels: 🐞 bug, 🕋 back-end

#521 [FE] 생성 페이지 폰트 크기 수정
  frontend/src/components/ConfirmPassword/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/hooks/useCreateState.ts
  frontend/src/hooks/useKakaoMap.ts
  frontend/src/pages/Create/Steps/@shared/styled.ts
  frontend/src/pages/Create/Steps/Step1/index.tsx
  frontend/src/pages/Create/Steps/Step2/index.tsx
  frontend/src/pages/Create/Steps/Step4/index.tsx
  frontend/src/pages/Create/index.tsx
  frontend/src/pages/Create/validate.test.ts
  frontend/src/pages/Create/validate.ts
Labels: 🐞 bug, 🍋 front-end

#522 [FE] 무한 스크롤 요청 에러 해결
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyGroup/index.tsx
Labels: 🐞 bug, 🍋 front-end

#492 [ALL] README 이미지 최신화
  README.md
Labels: 🍋 front-end, 🕋 back-end, 🐶 docs

#526 [FE] react-query 일부 데이터 플로우 재조정
  frontend/src/components/Login/index.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/hooks/useRecoilQuery.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Detail/versions/Desktop/Content/EditMode/index.tsx
  frontend/src/pages/Detail/versions/Mobile/Content/EditMode/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/store/states.ts
Labels: 🍋 front-end, 🛠 refactor

#528 [FE] 컴포넌트 로직을 사용처로 이동
  frontend/src/components/Calendar/Content/hooks/useCalendar.ts
  frontend/src/components/Calendar/Content/index.tsx
  frontend/src/components/Calendar/SelectedDate/hooks/useHover.ts
  frontend/src/components/Calendar/SelectedDate/index.tsx
  frontend/src/components/Calendar/index.tsx
  frontend/src/hooks/useCalendar.ts
  frontend/src/pages/Create/Navigator/Button/Dot/index.styled.ts
  frontend/src/pages/Create/Navigator/Button/Dot/index.tsx
  frontend/src/pages/Create/Navigator/Button/index.styled.ts
  frontend/src/pages/Create/Navigator/Button/index.tsx
  frontend/src/pages/Detail/Location/Map/hooks/useKakaoMap.ts
  frontend/src/pages/Detail/Location/Map/index.tsx
Labels: 🍋 front-end, 🛠 refactor

#530 [FE] convertToISOString 함수 테스트 추가
  frontend/src/utils/date.ts
  frontend/src/utils/utils.test.ts
Labels: 🍋 front-end, ⛑ test

#532 [FE] react-query의 캐시로 인해 이전 데이터를 보여주던 에러 해결
  frontend/src/components/FilterSection/Category/index.styled.ts
  frontend/src/components/FilterSection/Category/index.tsx
  frontend/src/components/FilterSection/SearchSection/index.styled.ts
  frontend/src/components/FilterSection/SearchSection/index.tsx
  frontend/src/components/FilterSection/index.styled.ts
  frontend/src/components/FilterSection/index.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/MyGroup/index.tsx
  frontend/src/utils/category.tsx
Labels: 🐞 bug, 🍋 front-end
